@font-face {
  font-family: "New Rodin Pro B";
  src: url("./fonts/FOT-NewRodinProB.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.font-newrodin {
  font-family: "New Rodin Pro B", sans-serif;
}

body {
  font-family: 'New Rodin Pro B', sans-serif;
}

.custom-scroll::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra vertical */
}

.custom-scroll::-webkit-scrollbar-track {
    background: transparent; /* Invisible */
}

.custom-scroll::-webkit-scrollbar-thumb {
   
    background-color: rgba(18, 79, 140); /* Azul oscuro */
    border-radius: 20px;       /* Bordes redondos */
    border: 2px solid transparent; /* Truco para dar espacio alrededor */
    background-clip: content-box;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
    background-color: rgb(205, 204, 210); /* Blanco al 30% */
}